.heading-219 {
  position: absolute;
  width: calc(100% - 1px);
  top: 1.3px;
  right: 0.4px;
  left: 0.6px;
  height: 126px;
}
.svg-icon45 {
  position: absolute;
  top: calc(50% - 29.4px);
  left: calc(50% - 958.2px);
  width: 18px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.de-10000-mil8 {
  position: absolute;
  top: 0;
  left: 20.5px;
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 441.1px;
  height: 25px;
}
.f3c6svg-icon6 {
  position: absolute;
  top: calc(50% - 4.4px);
  left: calc(50% - 958.2px);
  width: 18px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.maior-grupo-da12 {
  position: absolute;
  top: 25px;
  left: 20.5px;
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 288.1px;
  height: 25px;
}
.divelementor-element49 {
  position: absolute;
  width: calc(100% - 1px);
  top: 480px;
  right: -92px;
  left: 93px;
  height: 64.4px;
}
.divelementor-element48 {
  position: absolute;
  width: 100%;
  top: calc(50% - 1602.55px);
  right: 0;
  left: 0;
  height: 800px;
  background-image: url(./public/divelementorelement7@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: var(--color-whitesmoke);
}
.svg-icon46 {
  position: absolute;
  top: 20px;
  left: calc(50% - 134.5px);
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: cover;
}
.eu-quero-participar12 {
  position: absolute;
  top: 16px;
  left: calc(50% - 105.5px);
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 241.9px;
  height: 29px;
}
.link16 {
  position: absolute;
  top: 394px;
  left: calc(50% - 868px);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    84.78deg,
    #30a1ff,
    #0eb6f5 33.33%,
    #30a1ff 66.67%,
    #0eb6f5
  );
  box-shadow: 0 0 32px rgba(41, 150, 252, 0.57);
  width: 445px;
  height: 64px;
  text-align: center;
  font-size: var(--font-size-2xl);
}
.fao-lives-dirias4 {
  margin: 0;
}
.fao-lives-dirias-container8 {
  width: 100%;
}
.fao-lives-dirias-container7 {
  position: absolute;
  top: 320.7px;
  left: 92.4px;
  line-height: 27px;
  color: var(--color-whitesmoke);
  display: flex;
  align-items: center;
  width: 563.1px;
  height: 52px;
}
.eu-vou-jogar2 {
  color: var(--color-white);
}
.ao-vivo2,
.dinheirojunto-comigo2 {
  color: var(--color-green);
}
.dinheirojunto-comigo2 {
  margin: 0;
}
.eu-vou-jogar-container8 {
  position: absolute;
  top: 185.7px;
  left: 92.4px;
  font-size: var(--font-size-17xl);
  line-height: 42px;
  display: flex;
  align-items: center;
  width: 547.8px;
  height: 135px;
}
.f3c6svg-icon7,
.svg-icon47 {
  position: absolute;
  top: calc(50% - 29.2px);
  left: calc(50% - 234.2px);
  width: 18px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.f3c6svg-icon7 {
  top: calc(50% - 4.2px);
}
.divelementor-element50 {
  position: absolute;
  width: calc(100% - 1449px);
  top: 480px;
  right: 1356px;
  left: 93px;
  height: 64px;
  color: var(--color-whitesmoke);
}
.como-exatamente-funciona3 {
  position: absolute;
  top: -3px;
  left: calc(50% - 269.9px);
  line-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 540.1px;
  height: 51px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.heading-220 {
  position: absolute;
  width: 100%;
  top: 86px;
  right: 0;
  left: 0;
  height: 45px;
}
.svg-icon49 {
  position: absolute;
  top: 21px;
  left: 133.2px;
  width: 42px;
  height: 42px;
  overflow: hidden;
  object-fit: cover;
}
.heading-314,
.voc-ir-receber-container6 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-314 {
  top: 83px;
  left: calc(50% - 111.15px);
  line-height: 20.4px;
  font-weight: 800;
  justify-content: center;
  width: 222.6px;
  height: 24px;
}
.voc-ir-receber-container6 {
  top: 110.4px;
  left: calc(50% - 109.95px);
  font-size: var(--font-size-mini);
  line-height: 22.5px;
  color: var(--color-white);
  width: 220.1px;
  height: 43.5px;
}
.divelementor-widget-container33 {
  position: absolute;
  height: calc(100% - 32px);
  width: calc(100% - 656.7px);
  top: 16px;
  right: 656.7px;
  bottom: 16px;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.svg-icon50 {
  position: absolute;
  top: 21px;
  left: 133.1px;
  width: 42px;
  height: 42px;
  overflow: hidden;
  object-fit: cover;
}
.com-a-live-container8,
.heading-315 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-315 {
  top: 83px;
  left: calc(50% - 63.85px);
  line-height: 20.4px;
  font-weight: 800;
  justify-content: center;
  width: 128px;
  height: 24px;
}
.com-a-live-container8 {
  top: 110.4px;
  left: calc(50% - 115.65px);
  font-size: var(--font-size-mini);
  line-height: 22.5px;
  color: var(--color-white);
  width: 231.5px;
  height: 43.5px;
}
.divelementor-widget-container34 {
  position: absolute;
  height: calc(100% - 32px);
  width: calc(100% - 656.7px);
  top: 16px;
  right: 328.4px;
  bottom: 16px;
  left: 328.3px;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.heading-316,
.jogue-junto-e-container5 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-316 {
  top: 83px;
  left: calc(50% - 41.25px);
  line-height: 20.4px;
  font-weight: 800;
  justify-content: center;
  width: 82.8px;
  height: 24px;
}
.jogue-junto-e-container5 {
  top: 110.4px;
  left: calc(50% - 116.65px);
  font-size: var(--font-size-mini);
  line-height: 22.5px;
  color: var(--color-white);
  width: 233.6px;
  height: 43.5px;
}
.divelementor-widget-container35 {
  position: absolute;
  height: calc(100% - 32px);
  width: calc(100% - 656.7px);
  top: 16px;
  right: 0;
  bottom: 16px;
  left: 656.7px;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.divelementor-element52 {
  position: absolute;
  top: calc(50% - 139.4px);
  left: calc(50% - 483.5px);
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  width: 965px;
  height: 208.4px;
  font-size: var(--font-size-mid);
  color: var(--color-green);
}
.svg-icon52 {
  position: absolute;
  top: 20px;
  left: calc(50% - 135.8px);
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: cover;
}
.eu-quero-participar14 {
  position: absolute;
  top: 16px;
  left: calc(50% - 105.8px);
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 241.9px;
  height: 29px;
}
.link18 {
  position: absolute;
  top: 363px;
  left: calc(50% - 176.5px);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    84.8deg,
    #30a1ff,
    #0eb6f5 33.33%,
    #30a1ff 66.67%,
    #0eb6f5
  );
  box-shadow: 0 0 32px rgba(41, 150, 252, 0.57);
  width: 351.6px;
  height: 64px;
  font-size: var(--font-size-2xl);
}
.svg-icon53 {
  position: absolute;
  top: calc(50% - 29.4px);
  left: calc(50% - 229.4px);
  width: 18px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.de-10000-mil10 {
  position: absolute;
  top: 0;
  left: calc(50% - 210.1px);
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 441.1px;
  height: 25px;
}
.f3c6svg-icon8 {
  position: absolute;
  top: calc(50% - 4.4px);
  left: calc(50% - 152.9px);
  width: 18px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.maior-grupo-da14 {
  position: absolute;
  top: 25px;
  left: calc(50% - 133.7px);
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 288.1px;
  height: 25px;
}
.divelementor-element53 {
  position: absolute;
  top: calc(50% + 167.6px);
  left: calc(50% - 482.5px);
  width: 965px;
  height: 64.4px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.dive-con-inner18 {
  position: absolute;
  height: calc(100% - 0.2px);
  top: 0;
  bottom: 0.2px;
  left: calc(50% - 483px);
  width: 965px;
}
.divelementor-element51 {
  position: absolute;
  width: 100%;
  top: 800px;
  right: 0;
  left: 0;
  background-color: var(--color-green);
  height: 565px;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.assets-basicos-principais-pc-e-icon4 {
  position: absolute;
  top: calc(50% - 285.3px);
  left: calc(50% - 866.5px);
  width: 705px;
  height: 570px;
  overflow: hidden;
  object-fit: cover;
}
.j-so-mais-container6 {
  position: absolute;
  top: -5px;
  left: 0;
  line-height: 42px;
  display: flex;
  align-items: center;
  width: 504.8px;
  height: 93px;
}
.heading-221 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 84px;
  font-size: var(--font-size-17xl);
}
.divelementor-widget-container36 {
  position: absolute;
  height: calc(100% - 260.4px);
  width: 100%;
  top: 102px;
  right: 0;
  bottom: 158.4px;
  left: 0;
}
.fazendo-histria-mais-container7 {
  position: absolute;
  top: 144.2px;
  left: 0;
  line-height: 27px;
  color: var(--color-whitesmoke);
  display: flex;
  align-items: center;
  width: 544.3px;
  height: 52px;
}
.svg-icon54 {
  position: absolute;
  top: 20px;
  left: calc(50% - 136.3px);
  width: 21px;
  height: 21px;
  overflow: hidden;
  object-fit: cover;
}
.eu-quero-participar15 {
  position: absolute;
  top: 16px;
  left: calc(50% - 105.3px);
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 241.9px;
  height: 29px;
}
.link19 {
  position: absolute;
  top: 178px;
  left: calc(50% - 280px);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    84.81deg,
    #30a1ff,
    #0eb6f5 33.33%,
    #30a1ff 66.67%,
    #0eb6f5
  );
  box-shadow: 0 0 32px rgba(41, 150, 252, 0.57);
  width: 352.6px;
  height: 64px;
  text-align: center;
  font-size: var(--font-size-2xl);
}
.f3c6svg-icon9,
.svg-icon55 {
  position: absolute;
  top: calc(50% - 29.4px);
  left: calc(50% - 278.7px);
  width: 18px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.f3c6svg-icon9 {
  top: calc(50% - 4.4px);
}
.divelementor-element55 {
  position: absolute;
  width: 100%;
  top: 287.2px;
  right: 0;
  left: 0;
  height: 64.4px;
  color: var(--color-whitesmoke);
}
.dive-con-inner19 {
  position: absolute;
  height: calc(100% - 363.6px);
  top: 181.8px;
  bottom: 181.8px;
  left: calc(50% + 10px);
  width: 560px;
}
.divelementor-element54 {
  position: absolute;
  top: 1365px;
  left: 0;
  width: 1920px;
  height: 628px;
  background-image: url(./public/divelementorelement8@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.heading-222 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 52.5px;
  display: flex;
  align-items: center;
  width: 547px;
  height: 52.5px;
}
.dive-con-inner20 {
  position: absolute;
  height: calc(100% - 223.8px);
  top: 0;
  bottom: 223.8px;
  left: calc(50% - 279.5px);
  width: 560px;
}
.meu-nome4 {
  position: absolute;
  top: 9.9px;
  left: 0;
  line-height: 25px;
  display: flex;
  align-items: center;
  width: 551.7px;
  height: 123px;
}
.ajudo-e-j3 {
  font-family: var(--font-poppins);
}
.ajudo-e-j-container7 {
  position: absolute;
  top: 161.9px;
  left: 0;
  line-height: 25px;
  display: flex;
  align-items: center;
  width: 546.8px;
  height: 48px;
}
.divelementor-element58 {
  position: absolute;
  width: 100%;
  top: 92.5px;
  right: 0;
  left: 0;
  height: 203.8px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.divelementor-element57 {
  position: absolute;
  width: calc(100% - 1360px);
  top: calc(50% - 147.9px);
  right: 970px;
  left: 390px;
  height: 296.3px;
}
.snapinstaapp-1080-269631365-4-icon3 {
  position: absolute;
  top: calc(50% - 252.5px);
  left: calc(50% - 210px);
  width: 420px;
  height: 505.4px;
  overflow: hidden;
  object-fit: cover;
}
.divelementor-widget-container37 {
  position: absolute;
  height: calc(100% - 212px);
  width: calc(100% - 1415px);
  top: 122px;
  right: 379px;
  bottom: 90px;
  left: 1036px;
}
.divelementor-element56 {
  position: absolute;
  width: calc(100% + 1px);
  top: 1993px;
  right: -1px;
  left: 0;
  background-color: var(--color-gray-300);
  height: 595px;
  font-size: var(--font-size-23xl);
  color: var(--color-green);
}
.este-site-no-container8 {
  position: absolute;
  top: 2px;
  left: calc(50% - 560.6px);
  line-height: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 1220.4px;
  height: 68px;
}
.divelementor-widget-container38 {
  position: absolute;
  height: calc(100% - 132.4px);
  width: calc(100% - 780px);
  top: 40px;
  right: 390px;
  bottom: 92.4px;
  left: 390px;
}
.todos-os-direitos3 {
  position: absolute;
  top: 2px;
  left: calc(50% - 78.05px);
  line-height: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168.5px;
  height: 14px;
}
.divelementor-widget-container39 {
  position: absolute;
  height: 100%;
  width: calc(100% - 983.9px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 983.9px;
}
.dive-con-inner21 {
  position: absolute;
  height: calc(100% - 172px);
  top: 132px;
  bottom: 40px;
  left: calc(50% - 570px);
  width: 1140px;
}
.divelementor-element59 {
  position: absolute;
  width: 100%;
  top: 3000.2px;
  right: -0.5px;
  left: 0.5px;
  background-color: var(--color-gray-100);
  height: 204.4px;
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-space-grotesk);
}
.faq4 {
  position: absolute;
  top: 1px;
  left: calc(50% - 17.5px);
  line-height: 22.5px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36.3px;
  height: 20px;
}
.heading-223 {
  position: absolute;
  width: calc(100% - 780px);
  top: 80px;
  right: 390px;
  left: 390px;
  height: 22.5px;
}
.est-com-dvidas-container7 {
  position: absolute;
  top: 0;
  left: calc(50% - 469.4px);
  line-height: 42px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 940.1px;
  height: 42px;
}
.heading-224 {
  position: absolute;
  width: calc(100% - 905.4px);
  top: 126.5px;
  right: 452.7px;
  left: 452.7px;
  height: 42px;
  font-size: var(--font-size-11xl);
  color: var(--color-green);
  font-family: var(--font-poppins);
}
.svg-icon56 {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  object-fit: cover;
}
.link-isso4 {
  position: absolute;
  top: 19px;
  left: 20px;
  line-height: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 172.7px;
  height: 17px;
}
.button16 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  height: 57px;
}
.link-por4 {
  position: absolute;
  top: 19px;
  left: 20px;
  line-height: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 229.7px;
  height: 17px;
}
.button17 {
  position: absolute;
  width: 100%;
  top: 77px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  height: 57px;
}
.divelementor-toggle8 {
  position: absolute;
  width: calc(100% - 570px);
  top: 0;
  right: 570px;
  left: 0;
  height: 134px;
}
.link-poe4,
.link20 {
  position: absolute;
  top: 19px;
  left: 20px;
  line-height: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 231.3px;
  height: 17px;
}
.link20 {
  width: 263.1px;
}
.divelementor-toggle9 {
  position: absolute;
  width: calc(100% - 570px);
  top: 0;
  right: -20px;
  left: 590px;
  height: 134px;
}
.dive-con-inner22 {
  position: absolute;
  height: calc(100% - 265px);
  top: 192.5px;
  bottom: 72.5px;
  left: calc(50% - 569.5px);
  width: 1140px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.divelementor-element60 {
  position: absolute;
  width: calc(100% + 1px);
  top: 2588px;
  right: -1px;
  left: 0;
  background-color: var(--color-gray-300);
  height: 412px;
  text-align: center;
  color: var(--color-whitesmoke);
  font-family: var(--font-space-grotesk);
}
.design-3 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 3205.1px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
